<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      Expense Manager
    </title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

    @viteReactRefresh()
    @inertiaHead()
    @vite(['resources/js/main.tsx', `resources/js/pages/${page.component}.tsx`])
  </head>

  <body class="min-h-screen w-screen font-sans antialiased">
    @inertia()
  </body>

</html>
