@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: rgb(249, 65, 68);
    --chart-2: rgb(238, 108, 77);
    --chart-3: rgb(248, 150, 30);
    --chart-4: rgb(0, 100, 148);
    --chart-5: rgb(249, 199, 79);
    --chart-6: rgb(144, 190, 109);
    --chart-7: rgb(67, 170, 139);
    --chart-8: rgb(77, 144, 142);
    --chart-9: rgb(87, 117, 144);
    --chart-10: rgb(39, 125, 161);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: rgb(255, 128, 132);
    --chart-2: rgb(252, 157, 143);
    --chart-3: rgb(255, 189, 102);
    --chart-4: rgb(102, 163, 192);
    --chart-5: rgb(255, 221, 131);
    --chart-6: rgb(181, 217, 161);
    --chart-7: rgb(124, 202, 175);
    --chart-8: rgb(134, 181, 181);
    --chart-9: rgb(153, 168, 181);
    --chart-10: rgb(105, 176, 197);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
