@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;

    --chart-1: rgb(249, 65, 68);
    --chart-2: rgb(238, 108, 77);
    --chart-3: rgb(248, 150, 30);
    --chart-4: rgb(0, 100, 148);
    --chart-5: rgb(249, 199, 79);
    --chart-6: rgb(144, 190, 109);
    --chart-7: rgb(67, 170, 139);
    --chart-8: rgb(77, 144, 142);
    --chart-9: rgb(87, 117, 144);
    --chart-10: rgb(39, 125, 161);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;

    --chart-1: rgb(255, 128, 132);
    --chart-2: rgb(252, 157, 143);
    --chart-3: rgb(255, 189, 102);
    --chart-4: rgb(102, 163, 192);
    --chart-5: rgb(255, 221, 131);
    --chart-6: rgb(181, 217, 161);
    --chart-7: rgb(124, 202, 175);
    --chart-8: rgb(134, 181, 181);
    --chart-9: rgb(153, 168, 181);
    --chart-10: rgb(105, 176, 197);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
